<section id="downloads" class="_bgcolor1 _text-white _padding2">
        <div class="_max-width-65 _margin-auto">
          <div class="row center-xs _margin-0">
            <div class="col-lg-3 platform-download">
              <div class="title">
                <h1>Windows</h1>
              </div>
              <div class="logo">
                <i class="fa fa-windows" aria-hidden="true"></i>
              </div>
              <a class="button" href="https://build.tox.chat/job/uTox_build_windows_x86_release/lastSuccessfulBuild/artifact/utox_windows_x86.zip">
                <i class="fa fa-arrow-circle-o-down fa-lg" aria-hidden="true"></i> <strong>32-bit Version</strong>
              </a>
              <a class="button" href="https://build.tox.chat/job/uTox_build_windows_x86-64_release/lastSuccessfulBuild/artifact/utox_windows_x86-64.zip">
                <i class="fa fa-arrow-circle-o-down fa-lg" aria-hidden="true"></i> <strong>64-bit Version</strong>
              </a>
            </div>
            <div class="col-lg-3 platform-download">
              <div class="title">
                <h1>Apple</h1>
              </div>
              <div class="logo">
                <i class="fa fa-apple" aria-hidden="true"></i>
              </div>
              <a class="button" href="https://github.com/uTox/uTox/releases/download/v0.9.8/uTox-0.9.8.dmg">
                <i class="fa fa-arrow-circle-o-down fa-lg" aria-hidden="true"></i> <strong>64-bit Version <br>(OS X 10.7+)</strong>
              </a>
            </div>
            <div class="col-lg-3 platform-download">
              <div class="title">
                <h1>Linux</h1>
              </div>
              <div class="logo">
                <i class="fa fa-linux" aria-hidden="true"></i>
              </div>
              <a class="button" href="https://build.tox.chat/job/uTox_build_linux_x86_release/lastSuccessfulBuild/artifact/utox_linux_x86.tar.xz">
                <i class="fa fa-arrow-circle-o-down fa-lg" aria-hidden="true"></i> <strong>32-bit Version</strong>
              </a>
              <a class="button" href="https://build.tox.chat/job/uTox_build_linux_x86-64_release/lastSuccessfulBuild/artifact/utox_linux_x86-64.tar.xz">
                <i class="fa fa-arrow-circle-o-down fa-lg" aria-hidden="true"></i> <strong>64-bit Version</strong>
              </a>
            </div>
          </div>
          <div class="row center-xs _padding1 _paddingtop3">
            <a href="https://github.com/uTox/uTox#downloads" class="button-bluegray _padding1">
              <i class="fa fa-external-link fa-lg" aria-hidden="true"></i> <strong>More Platforms</strong>
            </a>
          </div>
        </div>
      </section>
