<section id="features" class="_bgcolor3 _padding4">

  <div class="feature-card row">
    <div class="icon col-sm-4">
      <i class="fa fa-magic" aria-hidden="true"></i>
    </div>
    <div class="content col-sm-8">
      <h1 class="point">
        Easy to Use
      </h1>
      <div class="description">
        The Tox project was started with the goal of making secure encrypted communication, in any form, easy. The uTox client is no exception, built to be easy for your computer, and easier for you.
      </div>
    </div>
  </div>

  <div class="feature-card row">
    <div class="icon col-sm-4">
      <i class="fa fa-lock" aria-hidden="true"></i>
    </div>
    <div class="content col-sm-8">
      <h1 class="point">
        Security &amp; Privacy
      </h1>
      <div class="description">
        Utilizing a completely serverless design and industry grade high-strength encryption, uTox keeps your conversations secure and private from prying eyes. (If perfect security is important to you, or your work, make sure you understand the guarantees that uTox offers. For a detailed explanation of what uTox will protect you from, read through uTox's <a href="/security">security model</a>
      </div>
    </div>
  </div>

  <div class="feature-card row">
    <div class="icon col-sm-4">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="content col-sm-8">
      <h1 class="point">
        Transparency &amp; Freedom
      </h1>
      <div class="description">
        There is a steady and growing trend in software development that shows; software can only serve it's users when it's not hidding secrets, or backdoors. This is what's known as open-source software, its code is never hidden from it's users, and always available for anyone read. While this important to all software, there is no cryptographer or security expert who will agree that anything closed source can be called safe and secure. uTox was created with this in mind, and will always be free, and open source.
      </div>
    </div>
  </div>

</section>
