<footer class="_bgcolor3 _text-white2 _padding3 _text-center">
      <p>
        <a class="_text-black _text-clear-decoration _font-x1-5" rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
          <i class="fa fa-creative-commons" aria-hidden="true"></i> BY-NC-SA <sup><small><small><i class="fa fa-external-link" aria-hidden="true"></i></small></small></sup>
        </a>
      </p>
      <p>
          The Content on this site is licensed under a <br>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
      </p>
      <p>
          The Source for this site is licensed under the <a href="https://github.com/uTox/website/blob/master/LICENSE">MIT License</a>
      </p>
    </footer>
