<header class="_bgcolor1">
      <div class="_max-width-65 _padding05 _margin-auto">
        <div class="row middle-sm center-xs start-sm">
          <h1 class="col-md-3 _margin-025-0 _text-white _font-lighter">μTox</h1>
          <nav class="col-md-9 navigation-row">
            <a href="#downloads" class="item -button _text-white">
              <strong><i class="fa fa-download" aria-hidden="true"></i> Downloads</strong>
            </a>
            <a href="#" class="item _text-white">Services</a>
            <a href="https://github.com/uTox/uTox/issues" class="item _text-white">Support</a>
            <a href="#" class="item _text-white">Donate</a>
            <a href="#" class="item _text-white">Contribute</a>
          </nav>
        </div>
      </div>
    </header>
