<section class="_bgcolor2">
        <div class="_max-width-65 _padding2 _margin-auto _flex-center">
          <picture>
            <source srcset="/images/utox_image.webp" type="image/webp" />
            <img src="/images/utox_image.png" alt="" class="_image-responsive" />
          </picture>
        </div>
      </section>
