._font-normal {
  font-weight: normal;
}

._font-lighter {
  font-weight: lighter;
}

._font-x1-5 {
  font-size: 1.5em;
}

._font-x2 {
  font-size: 2em;
}

._font-x3 {
  font-size: 3em;
}

._text-center {
  text-align: center !important;
}

._text-white {
  color: white;
}

._text-black {
  color: black;
}

._text-clear-decoration {
  text-decoration: none;
}

._image-responsive {
  max-width: 100%;
}

._flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

._max-width-65 {
  max-width: 65em;
}

._margin-auto {
  margin: auto;
}

._margin-0 {
  margin: 0;
}

._margin-025-0 {
  margin: 0.25em 0;
}

._margin-05-0 {
  margin: 0.5em 0;
}

._padding05 {
  padding: 0.5em;
}

._padding1 {
  padding: 1em;
}

._padding2 {
  padding: 2em;
}

._padding3 {
  padding: 3em;
}

._paddingtop3 {
  padding-top: 3em;
}

._bgcolor1 {
  background-color: $color-1; // Gray
}

._bgcolor2 {
  background-color: $color-2; // Blue
}

._bgcolor3 {
  background-color: $color-3; // Gray White
}
