<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>μTox - The lightweight Tox client</title>
    <link rel="canonical" href="https://utox.io" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="application-name" content="μTox Website"/>
    <meta name="msapplication-TileColor" content="#5E7C88" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />

    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/bundle.css" />
  </head>
  <body>
    <!--[if IE]><p style="font: 1.1em sans-serif; margin: 1.5em; padding: 2em; background: #df342f; color: white; text-align: center;">Hold on there! You're using an <strong>outdated</strong> browser missing important new features that make building secure and efficient websites possible. Please <a style="color: #2955A2;" href="http://browsehappy.com/">switch or upgrade your browser</a> to improve your experience.</p><![endif]-->

    {% include "templates/header.njk" %}

    <main>
      {% include "templates/hero.njk" %}
      {% include "templates/features.njk" %}
      {% include "templates/downloads.njk" %}
    </main>

    {% include "templates/footer.njk" %}

  </body>
</html>
